{% extends 'base.html.twig' %}

{% block title %}Movie{% endblock %}

{% block body %}
    <h1>Movie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ movie.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ movie.title }}</td>
            </tr>
            <tr>
                <th>Poster</th>
                <td>{{ movie.poster }}</td>
            </tr>
            <tr>
                <th>Plot</th>
                <td>{{ movie.plot }}</td>
            </tr>
            <tr>
                <th>ReleasedAt</th>
                <td>{{ movie.releasedAt ? movie.releasedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ movie.country }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ movie.price }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_movie_index') }}">back to list</a>

    <a href="{{ path('app_admin_movie_edit', {'id': movie.id}) }}">edit</a>

    {{ include('admin/movie/_delete_form.html.twig') }}
{% endblock %}
