{% extends 'base.html.twig' %}

{% block title %}Book index{% endblock %}

{% block body %}
    <h1>Book index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Cover</th>
                <th>Isbn</th>
                <th>Author</th>
                <th>Plot</th>
                <th>Editor</th>
                <th>ReleasedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.cover }}</td>
                <td>{{ book.isbn }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.plot }}</td>
                <td>{{ book.editor }}</td>
                <td>{{ book.releasedAt ? book.releasedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_admin_book_show', {'id': book.id}) }}">show</a>
                    <a href="{{ path('app_admin_book_edit', {'id': book.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_book_new') }}">Create new</a>
{% endblock %}
